body		{font-family: verdana,arial,helvetica; font-size: 11pt; background:#f0f0f0; }

table		{font-family: verdana,arial,helvetica; 
		 font-size: 11pt; 
		 border: 1px solid #0000e0; 
		 border-collapse: collapse; }
td	{border: 1px solid #0000e0; }
th	{font-weight: bold; border: 1px solid #0000e0 }

img		{border: none}

td.alert   {font-weight: bold; color:red}

tr.checked {background: lightgreen;}
tr.error {background: red;}

.footmsg        {font-size: 8pt; }

#dettagli {
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
background:#c0f0c0;
}

table.detail		{font-family: verdana,arial,helvetica; 
		 font-size: 12pt; 
		 border: 1px solid #0000e0; 
		 border-collapse: collapse; }
input.detail		{font-family: verdana,arial,helvetica; 
		 font-size: 12pt; } 

table.navbar		{font-family: verdana,arial,helvetica; 
		 font-size: 12pt; 
		 border: none; 
		 border-collapse: collapse; }

td.navbar	{border: none; }

a.menu {text-decoration: none; background: #d0d0f0; padding: 2px; }